﻿@using ServicesLayer.Common.Formatter;
@using System.Linq;
@{
    List<string> Notifications = new List<string>();
}

<div class="ml-auto d-flex align-items-center position-relative">
    <span class="d-flex flex-column text-danger mr-2" style="cursor:pointer" onclick="showInPopup('@(Url.Action("WalletCharge","Inquery"))','افزایش اعتبار')">
        کیف پول
        <span class="priceFormat">540000</span>
    </span>
    <div class="submenu user-menu">
        <div>
            09388960144
            <span>
                مدیرعامل
            </span>
        </div>
        <img class="avatar" src="~/img/user.svg" loading="lazy" alt="avatar" />

        <div class="drop">
            <a href="#" onclick="showInPopup('@(Url.Action("WalletCharge","Inquery"))','افزایش اعتبار')">افزایش اعتبار</a>
            <a href="#">خروج</a>
        </div>
    </div>

    <div class="notif" title="اعلانات" data-toggle="dropdown" role="button">
        <div>
            <i class="zmdi zmdi-notifications-none"></i>
            @if (Notifications.Count > 0)
            {
                <div class="notify">
                    <span class="heartbit"></span>
                    <span class="point"></span>
                </div>
            }
        </div>

        <ul class="dropdown-menu">
            <li class="header">اعلانات</li>
            <li class="body">
                <ul class="menu">
                    @foreach (var i in Enumerable.Range(0, 20))
                    {
                        <li>
                            <a href="#">
                                <div class="icon-circle">
                                    <i class="zmdi zmdi-account"></i>
                                </div>


                                <div class="menu-info">
                                    <h4>عنوان</h4>
                                    <p>توضیحات</p>
                                    <p>
                                        <i class="zmdi zmdi-time mr-1"></i>
                                        <span dir="ltr">
                                            @Formatter.DT(DateTime.Now)
                                        </span>
                                    </p>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>

    <a href="#">
        <img class="home-img" src="~/img/icons/home.svg" loading="lazy" alt="home" />
    </a>
</div>

