﻿<header>
    <nav class="desktop">
        <a class="btn btn-primary my-0 btn-round" href="#">ورود</a>
        <nav class="ml-md-2">
            <a href="#">
                <img class="home-img" src="~/img/icons/home.svg" loading="lazy" alt="home" />
                صفحه اصلی
            </a>
            <div class="submenu">
                ثبت شرکت
                <div class="drop">
                    <a href="#">ثبت مالکیت معنوی</a>
                    <a href="#">آگهی روزنامه</a>
                    <a href="#">خدمات مالیاتی</a>
                </div>
            </div>
        </nav>
        <partial name="User/_Actions" />

    </nav>

    <nav class="shadow-sm" id="mobile">
        <button class="navbar-toggler" type="button">
            <i class="zmdi zmdi-menu"></i>
        </button>

        @ViewBag.Title
        <img src="~/img/logo.png" loading="lazy" alt="logo" />
    </nav>
    <div class="mobile-actions">
        <partial name="User/_Actions" />
    </div>

</header>


<div class="sidebar-overlay"></div>
<aside id="leftsidebar" class="sidebar d-sm-none">
    <div class="navbar-brand">
        <a href="/Home" title="اسان ثبت">
            <img src="~/img/logo.png" loading="lazy" alt="logo">
            اسان ثبت
        </a>
    </div>
    <div class="menu">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: calc(100vh - 65px);">
            <ul class="list" style="overflow: hidden; width: auto; height: calc(100vh - 65px);">
                <li class="active">
                    <a href="javascript:void(0);" class="menu-toggle toggled waves-effect waves-block">
                        <i class="zmdi zmdi-home"></i>
                        <span>ثبت شرکت</span>
                    </a>
                    <ul class="ml-menu" style="display: block;">
                        <li class="active">
                            <a href="/Home" class="toggled waves-effect waves-block">خانه</a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="zmdi zmdi-filter-list"></i>
                        <span>ثبت مالکیت معنوی</span>
                    </a>
                    <ul class="ml-menu">
                        <li class="">
                            <a href="/Home" class="toggled waves-effect waves-block">خانه</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="zmdi zmdi-filter-list"></i>
                        <span>آگهی روزنامه</span>
                    </a>
                    <ul class="ml-menu">
                        <li class="">
                            <a href="/Home" class="toggled waves-effect waves-block">خانه</a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="zmdi zmdi-filter-list"></i>
                        <span>خدمات مالیاتی</span>
                    </a>
                    <ul class="ml-menu">
                        <li class="">
                            <a href="/Home" class="toggled waves-effect waves-block">خانه</a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="zmdi zmdi-filter-list"></i>
                        <span>اقدامات ضروری شرکت</span>
                    </a>
                    <ul class="ml-menu">
                        <li class="">
                            <a href="/Home" class="toggled waves-effect waves-block">خانه</a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="zmdi zmdi-filter-list"></i>
                        <span>بسته ها</span>
                    </a>
                    <ul class="ml-menu">
                        <li class="">
                            <a href="/Home" class="toggled waves-effect waves-block">خانه</a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="zmdi zmdi-filter-list"></i>
                        <span>پیگیری سفارشات</span>
                    </a>
                    <ul class="ml-menu">
                        <li class="">
                            <a href="/Home" class="toggled waves-effect waves-block">خانه</a>
                        </li>
                    </ul>
                </li>
                <hr />
                <li class="">
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="zmdi zmdi-filter-list"></i>
                        <span>درباره ما</span>
                    </a>
                    <ul class="ml-menu">
                        <li class="">
                            <a href="/Home" class="toggled waves-effect waves-block">خانه</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="zmdi zmdi-filter-list"></i>
                        <span>تماس با ما</span>
                    </a>
                    <ul class="ml-menu">
                        <li class="">
                            <a href="/Home" class="toggled waves-effect waves-block">خانه</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="zmdi zmdi-filter-list"></i>
                        <span>خروج از حساب کاربری</span>
                    </a>
                    <ul class="ml-menu">
                        <li class="">
                            <a href="/Home" class="toggled waves-effect waves-block">خانه</a>
                        </li>
                    </ul>
                </li>



                <li class="">
                    <a href="/" class=" waves-effect waves-block">
                        <i class="zmdi zmdi-swap-alt"></i>
                        <span>خانه</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</aside>

