﻿<!doctype html>
<html class="no-js " lang="fa">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>خطا</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.min.css">
    <style>
        .diver {
            position: absolute;
            top: 20%;
            left: 40%;
        }

        .tsorati {
            color: #e37296;
            font-size: 10rem
        }

        .tosi {
            color: #3d415b;
            font-size: 2rem;
        }

        @@media(max-width:768px) {

            .tsorati {
                font-size: 5rem
            }

            .tosi {
                font-size: 1rem;
            }
        }
    </style>
</head>

<body class="theme-blush">

    <div class="authentication">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card">
                        <img src="~/Aero/html/assets/images/404.svg" alt="404" />

                        @RenderBody()

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="~/Aero/html/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/Aero/html/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
</body>

</html>