﻿<!doctype html>
<html class="no-js" lang="fa">

<head>


    @RenderSection("Style", required: false)
</head>

<body>

    
    <main>
        @RenderBody()
    </main>

    @RenderSection("scripts", required: false)
</body>

</html>