﻿@using ServicesLayer.Common.Formatter;

<fieldset class="row factor-sec" id="factor-sec">
    <div class="col-12 factor-header">

        <div class="details">
            <div>
                <strong>
                    وضعیت فاکتور
                </strong>
                تسویه نشده
            </div>
            <div>
                <strong>
                    شماره فاکتور
                </strong>
                65373
            </div>
            <div>
                <strong>
                    شماره پرونده
                </strong>
                شماره پرونده
            </div>
            <div>
                <strong>
                    زمان فاکتور
                </strong>
                @Formatter.ShortDate(DateTime.Now)
            </div>
        </div>
        <h3>
            دفاتر پلمب
            asdfgfds
            به شماره ملی
            <span class="text-primary">
                5555555
            </span>
            ،شماره ثبت
            <span class="text-primary">
                3340100
            </span>
        </h3>
        <img src="~/img/logo.png" loading="lazy" alt="logo" />


    </div>
    <div class="col-12">
        <div class="table-responsive tableFixHead">
            <table class="table table-sm table-hover" style="max-height:400px;">
                <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>عنوان سرویس</th>
                        <th>یک جلد دفتر</th>
                        <th> هزینه <small>(ریال)</small></th>
                        <th>توضیحات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Enumerable.Range(0, 4))
                    {
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="item-@i" id="item-@i">
                                    <label class="custom-control-label" for="item-@i">@(i+1)</label>
                                </div>
                            </td>
                            <td>پلمب 1401</td>
                            <td>
                                <select name="item-@i" id="item-@i" class="form-control form-control-sm">
                                    <option value="50" data-price="@(140000*(i+1))">50 برگ</option>
                                    <option value="50" data-price="@(280000*(i+1))">100 برگ</option>
                                </select>
                            </td>
                            <td class="priceFormat">@(140000*(i+1))</td>
                            <td>یک جلد دفتر کل و یک جلد دفتر روزنامه</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</fieldset>