﻿<fieldset class="row">
    <partial name="_SideImg" />
    <div class="col-12 col-sm-9 font-11">
        <h2>آپلود مدارک</h2>
        <div class="col-12 form-group">
            <div class="row align-items-center">
                <span class="col-12 col-sm-6 mb-1 mb-sm-4">
                    تصویر کارت ملی مدیرعامل
                </span>
                <div class="col-12 col-sm-6 mb-2 fancyFileUpload" tabindex="0">
                    <label>
                        <span>
                            آپلود فایل
                            <i class="zmdi zmdi-cloud-upload"></i>
                        </span>
                        <input type="file" accept="image/*" name="file1" required />
                        <img class="preview" />
                    </label>
                </div>
                <span class="col-12 col-sm-6 mb-1 mb-sm-4">
                    تصویر شناسنامه مدیرعامل
                </span>
                <div class="col-12 col-sm-6 mb-2 fancyFileUpload" tabindex="0">
                    <label>
                        <span>
                            آپلود فایل
                            <i class="zmdi zmdi-cloud-upload"></i>
                        </span>
                        <input type="file" accept="image/*" name="file2" required />
                        <img class="preview" />
                    </label>
                </div>
                <span class="col-12 col-sm-6 mb-1 mb-sm-4">
                    تصویر آگهی تاسیس یا تغییرات شرکت
                </span>
                <div class="col-12 col-sm-6 mb-2 fancyFileUpload" tabindex="0">
                    <label>
                        <span>
                            آپلود فایل
                            <i class="zmdi zmdi-cloud-upload"></i>
                        </span>
                        <input type="file" accept="image/*" name="file3" required />
                        <img class="preview" />
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12 text-center text-danger mt-2">
            حجم فايل ها كمتر از 500 كيلوبايت و با فرمت هاي مجاز عكس باشد
        </div>
    </div>
</fieldset>