﻿<fieldset class="row">
    <partial name="_SideImg" />
    <div class="col-12 col-sm-9">
        <div class="row">
            <h2>مشخصات شرکت</h2>
            <div class="form-group pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>شماره همراه</label>
                <input type="text" class="form-control" name="NationalIdentifer1" disabled  required />
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>نام شرکت</label>
                <input type="text" class="form-control" name="PhoneNumber1" disabled value="2" />
            </div>

            <div class="form-group pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>شناسه ملی شرکت</label>
                <input type="text" class="form-control" name="PhoneNumber2" disabled value="3" />
            </div>

            <div class="form-group pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>شماره ثبت</label>
                <input type="text" class="form-control" name="PhoneNumber3" disabled value="4" />
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>واحد ثبتی</label>
                <input type="text" class="form-control" name="PhoneNumber4" disabled value="5" />
            </div>

            <div class="form-group pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>نوع شرکت</label>
                <input type="text" class="form-control" name="PhoneNumber5" disabled value="6" />
            </div>
        </div>
    </div>
</fieldset>
