﻿<fieldset class="row">
    <partial name="_SideImg" />
    <div class="col-12 col-sm-9">
        <div class="row">
            <h2>تکمیل اطلاعات</h2>
            <div class="form-group req pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>شماره همراه مدیرعامل</label>
                <input type="text" class="form-control" name="NationalIdentifer2" required>
            </div>
            <div class="form-group req pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>شماره ملی مدیرعامل</label>
                <input type="text" class="form-control" name="PhoneNumber2" required>
            </div>
            <div class="form-group req pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>تاریخ تولد مدیرعامل</label>
                <input type="text" class="form-control text-center" name="BirthDate" id="BirthDate" placeholder="انتخاب کنید" required readonly>
            </div>
            <div class="form-group req pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>سال مالی</label>
                <input type="text" class="form-control text-center" name="FinYear" id="FinYear" placeholder="انتخاب کنید" readonly required>
            </div>
        </div>
    </div>
</fieldset>