﻿<fieldset class="row final-sec">
    <div class="col-12 text-success">
        <img src="~/img/payment/success.svg" loading="lazy" alt="success" />
        <h4>
            اطلاعات شما با موفقیت ثبت شد
        </h4>
    </div>
    <div class="col-12">
        برای ادامه فرایند کارشناسان ما با شما تماس خواهند گرفت
    </div>
    <div class="col-12 mt-3">
        <a href="/" class="btn btn-primary btn-lg">
            بازگشت به آسان ثبت
        </a>
    </div>
</fieldset>