﻿<fieldset class="row">
    <partial name="_SideImg" />
    <div class="col-12 col-sm-9">
        <div class="row">
            <h2>مشخصات کاربر</h2>
            <div class="form-group req pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>شناسه ملی شرکت</label>
                <input type="text" class="form-control" name="NationalIdentifer" required>
            </div>
            <div class="form-group req pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>شماره همراه</label>
                <input type="text" class="form-control" name="  " required>
            </div>
            <div class="form-group req pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>سمت کاربر</label>
                <select class="form-control select2" id="Semat_User" name="Semat_User" required>
                    <option value="98c97c1f-a225-47ae-b2b8-5c1e0372ca67">
                        مديرعامل
                    </option>
                    <option value="df50ef27-70cd-49f0-bf65-c57e0560bf2b">
                        رئيس هيئت مديره
                    </option>
                    <option value="814db06c-0495-4a61-b844-10a83c3240bc">
                        رئيس هيئت مديره - عضو علي البدل
                    </option>
                    <option value="eb82e314-f630-4fdf-ac00-044b697d587f">
                        نايب رئيس هيئت مديره
                    </option>
                    <option value="57503ebe-fdda-44e7-bb61-a6aadaaf13a3">
                        نايب رئيس هيئت مديره - عضو علي البدل
                    </option>
                    <option value="798a91cc-f5e8-49c9-9c46-b21f3173bcd8">
                        عضو اصلي هيئت مديره
                    </option>
                    <option value="f7fbecd3-4a4e-408d-90ba-6ac6194e6be9">
                        عضو علي البدل هيئت مديره
                    </option>
                    <option value="f16ab207-b743-4df1-8c28-dd72b83fced2">
                        بازرس اصلي
                    </option>
                    <option value="e01c52ba-07e3-497d-9d64-b844770e9fb6">
                        بازرس علي البدل
                    </option>
                    <option value="fb63328a-0e04-4952-8677-8e25be6a7f61">
                        نائب رئيس هيئت تصفيه - عضو علي البدل
                    </option>
                    <option value="d6f5b587-f4c2-4e37-8e89-008286862b9a">
                        عضو هيئت تصفيه
                    </option>
                    <option value="e3984319-279a-477a-8892-ff2a3bfd3bb5">
                        بازرس علي البدل تصفيه
                    </option>
                    <option value="720a882c-e375-46c2-8b26-18ab28ae9015">
                        هيئت نظار
                    </option>
                    <option value="bd79b4be-fb47-4204-afe3-d9e7b37e2905">
                        عضو علي البدل هيئت نظارت
                    </option>
                    <option value="7056b085-665a-46f2-8f5c-3e95058cb105">
                        سهام دار
                    </option>
                    <option value="1543efc4-c2b7-4217-8c5f-3da5f8caab3b">
                        نماينده قانوني
                    </option>
                    <option value="1d33a0b7-c036-46ff-b66c-831fb5947e46">
                        نماينده عمده
                    </option>
                    <option value="295c66d6-7a9f-477c-93bb-8f9881e9b800">
                        مدير هيئت امناء
                    </option>
                    <option value="f399e703-e7ac-4c33-a147-34b062b7f6cc">
                        دبير هيئت امناء
                    </option>
                    <option value="fced9660-69b7-45e3-a8c0-194917926af8">
                        رئيس هيئت امناء
                    </option>
                    <option value="03fde78a-e4cb-432f-9896-70f9a2455853">
                        رئيس هيئت امناء - عضو علي البدل
                    </option>
                    <option value="7cea1aba-c2d8-4712-92f6-3f212aa3eb95">
                        نايب رئيس هيئت امناء - عضو اصلي
                    </option>
                    <option value="a3feb1e4-a18d-4e86-a0bf-2fa329a28201">
                        نايب رئيس هيئت امناء - عضو علي البدل
                    </option>
                    <option value="c8a795c4-d71a-47a4-8c73-5c05080f9a7f">
                        عضو هيئت امناء
                    </option>
                    <option value="c2c0ae40-ca3d-41ea-aa89-4c11dc9e7acc">
                        عضو علي البدل هيئت امناء
                    </option>
                    <option value="91da88eb-a8f8-4fdb-b89d-2c91351c11f7">
                        مديرشعبه
                    </option>
                    <option value="482071e6-9ba5-4490-8002-1c1dbe045759">
                        خزانه دار
                    </option>
                    <option value="9bd51c01-b380-4a2f-83ca-8bf1911af29b">
                        مدير صندوق
                    </option>
                    <option value="7ba502a8-66aa-457b-a4d5-fc9c44516b2c">
                        منشي هيئت مديره
                    </option>
                    <option value="88ac0fc1-7b36-47b4-8df1-03addceb07c5">
                        رئيس شورا
                    </option>
                    <option value="9cab2ade-0fcb-4e3a-97a5-3196fbf6995e">
                        مدير اجرايي
                    </option>
                    <option value="401b2e41-db7e-44fa-954a-567d030a44a5">
                        هيئت عامل
                    </option>
                    <option value="96413773-b4d6-4927-b31a-5f83052dd67d">
                        رئيس مجمع
                    </option>
                    <option value="41fc9ad1-2c3d-4d1a-938a-597445576500">
                        رئيس
                    </option>
                    <option value="79caee1e-c293-49a2-af35-2499765cb168">
                        عضو هيئت موسس
                    </option>
                    <option value="c7b85c06-ec36-4315-99a1-1ac70809a0fe">
                        قائم مقام مديرعامل
                    </option>
                    <option value="5792910f-a0c8-4be8-ab43-c5643775cc18">
                        دبير هيئت مديره
                    </option>
                    <option value="8ebb1976-816a-4117-9d24-ba6b5aaef517">
                        متولي
                    </option>
                    <option value="240c8a77-8953-4b4a-be9b-6e234c451d4b">
                        حسابرس
                    </option>
                    <option value="b88cec0a-35da-4503-be6e-60a8ced84b63">
                        عضو موسسه
                    </option>
                    <option value="ee356844-9727-4f9e-bef8-c23607078c9f">
                        شريک
                    </option>
                    <option value="1c91d4d6-60cb-46ae-9f9a-e7876cd2bf96">
                        هيئت بازرسي
                    </option>
                    <option value="55fe21ef-3a50-48a1-99a3-819e32d35b3d">
                        عضو هيئت عامل
                    </option>
                    <option value="ec3ace9b-4ce0-45f9-9171-5168c88c759e">
                        رئيس هيات رئيسه
                    </option>
                    <option value="eae696c4-4fd7-49c9-b99e-1e859605e0d2">
                        نائيب رئيس هيات رئيسه
                    </option>
                    <option value="c2c7e084-4a3f-41d3-ac67-fe9340d7bf33">
                        عضو رکن اداره کننده
                    </option>
                    <option value="db2b3350-43a4-432e-b005-feff2a053d1c">
                        نايب رئيس دوم
                    </option>
                    <option value="4ec107bd-7adb-4e9f-aca0-8f74c9eb183e">
                        منشي مجمع
                    </option>
                    <option value="73b9fa6c-9de4-40a7-9bd1-1581a4ac0fcd">
                        ناظر اول
                    </option>
                    <option value="2ad02a1e-f7ab-4138-a381-df24d0ae32f6">
                        ناظر دوم
                    </option>
                    <option value="e39417ed-c562-4d15-9551-579a7fc6807c">
                        رئيس مرکز
                    </option>
                    <option value="95825a26-8a0d-465a-858b-2e6ac4a6e8ec">
                        رئيس موسسه
                    </option>
                    <option value="bdb22a8f-c3fb-44ff-96a9-2f364bedc18e">
                        عضو ناظر
                    </option>
                    <option value="97a23ec3-b8f0-4dba-8aad-fb189e4d664c">
                        نايب رئيس دوم
                    </option>
                    <option value="d2e5fab4-d6e4-4f2c-ae8d-873101a93ea7">
                        رئيس مجمع ناظر اول
                    </option>
                    <option value="09c95041-7b88-4284-89ab-fad34c193b99">
                        دبير مجمع
                    </option>
                    <option value="32304dbc-4e67-40fa-bbbe-52a81d063328">
                        منشي
                    </option>
                    <option value="a1820b3f-5aa8-4af3-b3a9-d5169bb9210a">
                        رئيس مجمع ناظر دوم
                    </option>
                    <option value="7a1ce0b4-1d15-4bc8-ae69-8ac6775a166d">
                        هيئت مديره
                    </option>
                    <option value="c95bdcc7-225c-40b1-b68b-a7f83a030db7">
                        هيئت اجرايي
                    </option>
                    <option value="89e1fc91-3ced-4769-a8b2-134dd7147542">
                        عضو شوراي اداري
                    </option>
                    <option value="1c1a49d0-3b8d-4dcd-a804-f5b43d4018c9">
                        دبير اجرايي
                    </option>
                    <option value="5e348690-57b7-42d6-ab0c-c7c6a14a51e0">
                        مدير موسسه
                    </option>
                    <option value="8528a988-10c4-49ac-b7eb-9fd2e6a8e0b9">
                        مدير
                    </option>
                    <option value="719f98c6-0414-45e7-9c6c-328807ec610c">
                        دبير
                    </option>
                    <option value="3aeedf32-6faa-4cbb-b57b-bbf47c613a1a">
                        عضو هيئت مرکزي
                    </option>
                    <option value="879503a7-2680-4aa9-97b3-5b8e4aec3559">
                        عضو شوراي هماهنگي
                    </option>
                    <option value="09210385-927b-4a3e-a34b-d57315a3d0ef">
                        عضو شوراي عالي مرکزي
                    </option>
                    <option value="ddde822c-bc4b-46aa-8b87-91d120309263">
                        عضو مجمع عمومي شرکاء
                    </option>
                    <option value="83bbfb20-14f7-407f-9898-0325bcecfe4a">
                        هيئت امناء
                    </option>
                    <option value="afc0891b-9264-46ce-9c72-def902a97cf0">
                        عضو مجمع عمومي موسسين
                    </option>
                    <option value="fed5d7b9-6c16-4f59-90a0-ea637a160982">
                        عضو مجمع عمومي هيئت امناء
                    </option>
                    <option value="2f8600ae-151c-4c31-bcab-ef9abff7d397">
                        نايب رئيس مرکز
                    </option>
                    <option value="59170cf7-948d-4a9e-8e83-770313babfa1">
                        عضو و سهامدار
                    </option>
                    <option value="98975c90-6c2b-4b89-a1db-2518ddf2006d">
                        غير عضو و سهامدار
                    </option>
                    <option value="3e819217-a396-4b69-8d58-c2d6cc3eb12c">
                        رئيس اجرايي
                    </option>
                    <option value="2d1501a8-7972-4641-8a31-b6e0b72f2036">
                        رئيس هيئت اجرايي
                    </option>
                    <option value="acf5b1c6-0fe7-43cd-a97e-30ae45bebde7">
                        رئيس هيئت
                    </option>
                    <option value="0a3fcfe6-c275-4fe0-828a-6c21253764c9">
                        عضو هيئت رئيسه
                    </option>
                    <option value="adfc9f39-dcba-4ed5-9c8d-f9ebd025f547">
                        رئيس هيئت امناء
                    </option>
                    <option value="a7b7e14b-ee3d-44ef-83a9-9caccf57629a">
                        مجمع عمومي
                    </option>
                    <option value="fd0ec41a-c957-4c25-89a6-b36e5aca32d4">
                        رئيس اول مجمع
                    </option>
                    <option value="17a70151-250e-410b-9c31-ffb7e9017e3b">
                        رئيس دوم مجمع
                    </option>
                    <option value="66b61f2b-fc9f-4a23-8ab4-efe36cb015c9">
                        نايب رئيس اول مجمع
                    </option>
                    <option value="51cba91f-1761-4896-9dd0-ed9b295b03e8">
                        نايب رئيس دوم مجمع
                    </option>
                    <option value="1a709563-b140-4a95-beff-bc9bead4d760">
                        عضو رکن تصميم گيرنده
                    </option>
                    <option value="70a13afa-1e15-4865-85fd-d2541d9527de">
                        ساير
                    </option>
                </select>
            </div>
            <div class="form-group req pmd-textfield pmd-textfield-floating-label col-12 col-lg-6">
                <label>نام و نام خانوادگی</label>
                <input type="text" class="form-control" name="Name" required>
            </div>
            <div class="form-group col-12">
                <a href="#" class="forgetLink" onclick="OpenForgetModal()">آیا شناسه ملی خود را فراموش کرده اید؟</a>
            </div>
        </div>
    </div>

</fieldset>
