﻿<section>
    <picture class="top-banner">
        <source srcset="https://faradars.org/wp-content/uploads/2022/01/10/H.NEW.svg" media="(min-width: 1440px)">
        <source srcset="https://faradars.org/wp-content/uploads/2022/01/10/H.NEW.svg" media="(min-width: 769px)">
        <source srcset="https://faradars.org/wp-content/uploads/2022/01/10/H.NEW.svg" media="(min-width: 600px)">
        <source srcset="https://faradars.org/wp-content/uploads/2022/01/10/H.NEW-768.svg">
        <img src="https://faradars.org/wp-content/uploads/2022/01/10/H.NEW-425.svg" alt="تخفیف" loading="lazy">
    </picture>
</section>