﻿@using ServicesLayer.Common.Formatter
@{
    int rate = 3;
}

<section>
    <h2 class="home-header">
        نظرات مشتریان
    </h2>

    <div class="comment-carousel">
        @foreach (var i in Enumerable.Range(1, 10))
        {
            <div>
                <div class="comment-item">
                    <h3>امیر محمد صالحی</h3>
                    <p>
                        مطابق با قانون تجارت حداقل سرمایه اولیه جهت تاسیس، مبلغ 100 هزار تومان در نظر گرفته شده است. سرمایه در شرکت های با مسئولیت محدود اظهاری بوده و واریزی ندارد اما در شرکت های سهامی خاص در فرآیند تاسیس بایستی حداقل 35% از سرمایه شرکت در حسابی به نام شرکت در یکی از بانک های کشور واریز گردد
                    </p>
                    <div class="rate-row">
                        <partial name="Global/_StarRate" model=@(rate) />
                        <span class="date" dir="ltr">
                            @Formatter.DT(DateTime.Now)
                        </span>
                    </div>
                </div>
            </div>
        }

    </div>
</section>
