﻿<section class="company-sec">
    <h2 class="home-header">
        مشتریان آسان ثبت
    </h2>
    <div class="section-card">
        <div class="company-carousel">
            @foreach (var i in Enumerable.Range(1, 10))
            {
                <div class="company-item">
                    <img src="~/img/brand/user.png" alt="کارشناس" loading="lazy">
                </div>
            }
        </div>
    </div>
</section>
