﻿<section class="counter-sec">
    <h2 class="home-header">
        سابقه آسان ثبت
    </h2>
    <div class="content">
        <div>
            <div class="section-card">
                <span class="c1"></span>

                <div>
                    <h3>
                        آسان ثبت
                    </h3>
                    <p>
                        با 12 سال سابقه درخشان
                    </p>
                    <p>
                        6 سال سابقه ثبتی آنلاین
                    </p>
                </div>


                <span class="c2"></span>
                <span class="c3"></span>
            </div>
        </div>

        <div>
            <div class="counter-list">
                <div>
                    تعداد شرکت ها
                    <b id="count-1">0</b>
                </div>
                <div>
                    تعداد مشتریان
                    <b id="count-2">0</b>
                </div>

                <div>
                    تعداد کاربران
                    <b id="count-3">0</b>
                </div>

                <div>
                    تعداد سفارشات
                    <b id="count-4">0</b>
                </div>
            </div>
        </div>

    </div>
</section>