﻿<section>
    <h2 class="home-header">
        تماس با کارشناسان آسان ثبت
    </h2>
    <div class="section-card">
        <div class="expert-carousel">
            @foreach (var i in Enumerable.Range(1, 10))
            {
                <div class="expert-item">
                    <span class="online-tag">
                        <i></i>
                        آنلاین
                    </span>
                    <img src="~/img/brand/user.png" alt="کارشناس" loading="lazy">
                    <h3>امیر محمدصالحی</h3>
                    <p>
                        تعداد مشاوره
                        <span class="priceFormat text-primary">2500</span>
                    </p>
                    <button class="btn btn-primary" onclick="OpenRequestModal(1)">
                        <i class="zmdi zmdi-phone-in-talk"></i>
                        تماس آنلاین
                    </button>
                </div>
            }
        </div>
    </div>
</section>
