﻿<section class="faq-sec">
    <h2 class="home-header">
        پرسش و پاسخ
    </h2>
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="section-card">

                <div class="accordion" id="faqAcc">

                    <a href="#" class="acc-header" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">
                        سامانه آگهی مفقودی آسان ثبت چه کمکی به ما میکند
                        <i class="zmdi zmdi-plus-circle-o"></i>
                    </a>

                    <div id="collapse1" class="collapse show" data-parent="#faqAcc">
                        <div class="acc-body">
                            Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                        </div>
                    </div>

                    <a href="#" class="acc-header" data-toggle="collapse" data-target="#collapse2">
                        پس از گم شدن چه مدارکی نیاز به چاپ آگهی در روزنامه کثیرالانتشار وجود دارد
                        <i class="zmdi zmdi-plus-circle-o"></i>
                    </a>

                    <div id="collapse2" class="collapse" data-parent="#faqAcc">
                        <div class="acc-body">
                            Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                        </div>
                    </div>

                    <a href="#" class="acc-header" data-toggle="collapse" data-target="#collapse3">
                        اولین اقدام ضروری پس از گم شدن این مدارک چیست
                        <i class="zmdi zmdi-plus-circle-o"></i>
                    </a>


                    <div id="collapse3" class="collapse" data-parent="#faqAcc">
                        <div class="acc-body">
                            Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                        </div>
                    </div>

                    <a href="#" class="acc-header" data-toggle="collapse" data-target="#collapse4">
                        مراحل چاپ و ثبت آگهی مفقودی در روزنامه کثیرالانتشار چیست
                        <i class="zmdi zmdi-plus-circle-o"></i>
                    </a>

                    <div id="collapse4" class="collapse" data-parent="#faqAcc">
                        <div class="acc-body">
                            Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <a href="#" class="btn btn-primary btn-lg">
                        پرسش و پاسخ بیشتر
                    </a>
                </div>

            </div>
        </div>
        <div class="col-12 col-sm-6">
            <img src="@Url.Content("~/img/home/faq.png")" loading="lazy" alt="faq" />
        </div>
    </div>
</section>