﻿
<section class="section-card">
    <h1 class="h5 mb-4 text-center">
        سفارش آنلاین خدمات ثبتی و مالیاتی شرکتها و کسب و کارها
    </h1>

    <div class="cat-list">

        <div class="title-list">
            @foreach (var r in Enumerable.Range(1, 9))
            {
                <a href="#">
                    <img src="~/img/inquery/blance.svg" loading="lazy" alt="side" />
                    روزنامه رسمی
                </a>
            }
        </div>

        <img src="~/img/home/top.png" loading="lazy" alt="side" />

        <div class="title-list">
            @foreach (var r in Enumerable.Range(1, 9))
            {
                <a href="#">
                    <img src="~/img/inquery/blance.svg" loading="lazy" alt="side" />
                    روزنامه رسمی
                </a>
            }
        </div>
    </div>

    <p class="last-order">
        <img src="~/img/home/clock.png" loading="lazy" alt="side" />
        <span>
            5 ثانیه
        </span>
        آخرین سفارش دریافت شده در ثبت شرکت
    </p>
</section>