﻿<section class="robot-sec">
    <h2 class="home-header">
        ربات تلگرام آسان ثبت
    </h2>
    <div class="row">
        <div class="col-12 col-sm-6">

            <img src="@Url.Content("~/img/home/robot.png")" loading="lazy" alt="faq" />

        </div>
        <div class="col-12 col-sm-6 flex-center">
            <div class="section-card">
                <span class="c1"></span>

                <div>
                    <h3>
                        بات تلگرام آسان ثبت
                    </h3>
                    <p>
                        سفارش آنلاین ثبت شرکت و تغییرات شرکت ، ارسال مدارک جدید برای سفارشات قبلی ، دریافت کد تخفیف و مشاهده لیست قیمت خدمات با عضویت در :
                    </p>

                    <div class="text-center">
                        <a href="#" class="btn btn-primary btn-lg">
                            ربات تلگرام آسان ثبت
                        </a>
                    </div>
                </div>


                <span class="c2"></span>
                <span class="c3"></span>
            </div>
        </div>
    </div>
</section>