﻿<section>
    <h2 class="section-header">
        مراحل ثبت دفاتر پلمپ
    </h2>
    <div class="section-card">
        <p>
            در ادامه شما میتوانید اطلاعات برند یا لوگوی مورد نظرتان را جهت ثبت آن توسط آسان ثبت وارد نمایید. این سامانه به شما امکان می دهد با حداقل مراجعه و تماس تلفنی به خواسته ی خود دست پیدا کنید.
        </p>
        <ul class="steps-sec">
            <li>
                <strong>1</strong>
                ورود اطلاعات اولیه در سامانه
            </li>
            <li>
                <strong>2</strong>
                ورود اطلاعات اولیه در سامانه
            </li>
            <li>
                <strong>3</strong>
                ورود اطلاعات اولیه در سامانه
            </li>
            <li>
                <strong>4</strong>
                ورود اطلاعات اولیه در سامانه
            </li>
            <li>
                <strong>5</strong>
                ورود اطلاعات اولیه در سامانه
            </li>
        </ul>
    </div>
</section>
