﻿@*@model Dentist.ViewModel.PaymentViewModel;*@


<div class="payItem">
    <strong>شماره فاکتور: </strong>
    <p>
        @Model.BasketIntId
    </p>
</div>


@if (!String.IsNullOrEmpty(Model.RefrenceNumber))
{
    <div class="payItem">
        <strong> شماره ارجاع: </strong>

        <p>@Model.RefrenceNumber</p>
    </div>

    <div class="payItem">
        <strong>مبلغ : </strong>
        <p>
            <span class="priceFormat">@Model.Amount</span>
            <small>(ریال)</small>
        </p>
    </div>
}



