﻿@using System;
@{
    Layout = null;
}


<form id="form_sendInvoice" class="row">
    <div class="form-group req col-12">
        <label>استان</label>
        <input class="form-control" id="ProvinceId" name="ProvinceId" required />
    </div>
    <div class="form-group req col-12">
        <label>واحد ثبتی</label>
        <input class="form-control" id="RegistrationOfficeId" name="RegistrationOfficeId" required />
    </div>
    <div class="form-group req col-12">
        <label>نوع شرکت</label>
        <input class="form-control select2" id="CompanyTypeId" name="CompanyTypeId" required />
    </div>
    <div class="form-group req pmd-textfield pmd-textfield-floating-label col-12">
        <label>شماره ثبت</label>
        <input type="text" id="RegistrationNo" name="RegistrationNo" class="form-control" required />
    </div>

    <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-lg btn-primary">بازیابی شناسه ملی</button>
    </div>
</form>


<script type="text/javascript">
    var DATA = {}
    var ProvinceId
    $('#ProvinceId').change(function() {
        ProvinceId = this.value
        if(DATA.register){
            let data = DATA.register.filter(i => i.p == ProvinceId)
            $('#RegistrationOfficeId').select2({ data });
        }
    });

    $.getJSON("@(Url.Content("~/data/data.min.json"))", function(jd = {}) {
        DATA = jd;
        $('#ProvinceId').select2({ data: jd.province || [] });
        $('#RegistrationOfficeId').select2({ data: [] });
        $('#CompanyTypeId').select2({ data: jd.companyType || [] });
    });

    $("#form_sendInvoice").validate({
        rules: {
            RegistrationNo: {
                digits: true,
            },
        },
        submitHandler: function (f, e) {
            e.preventDefault && e.preventDefault();

            let data = {};
            $("#form_sendInvoice")
                .serializeArray()
                .forEach((i = {}) => (data[i.name] = i.value || null));

            SubmitHelper({
                loading: "#form_sendInvoice",
                url: "https://asansabt.com/testofficialnewspaper/foundcompanybycompanytypeid",
                data
            }).then(function (res) {
                if (res.result == true) {
                    $('#form-modal').modal('hide');
                    Toast.fire({
                        icon: "success",
                        title: 'پیامک با موفقیت موفقیت ارسال شد.'
                    });
                    $("#NationalIdentifer1").val(1)
                    $("#PhoneNumber1").val(2)
                    changeStep(true);
                } else errMsg(res.Message);
            }).catch(err => {
                errMsg("مشکلی وجود دارد.");
            })
        },
    });
</script>