﻿@using Microsoft.EntityFrameworkCore.Metadata.Internal

@{
    ViewData["Title"] = "HandleError";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div class="diver">
    <p class="tsorati">@ViewBag.StatusCode</p>

    <p class="text-center tosi">
        @if (ViewBag.StatusCode == 404)
        {
            <span>صفحه ای یافت نشد</span>
        }
        else if (ViewBag.StatusCode == 500)
        {
            <span>خطا سیستمی</span>
        }
        else if (ViewBag.StatusCode == 403)
        {
            <span>عدم دسترسی </span>
        }
    </p>
</div>



