﻿@*@model MaliKanoon.ViewModel.PaymentViewModel;*@

@{
    bool isSuccess = true;
    ViewBag.Header = "پرداخت " + (isSuccess ? "موفق" : "ناموفق");
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.KeyWords = "";
    ViewBag.Description = "";
}


@section Style {
<link href="~/css/payment.css" rel="stylesheet" />
}


<div class="border border-secondary">

    <div class="paymentCard">
        <img src="~/img/payment/bg.svg" alt="backgroung" class="payBg" loading="lazy" />
        <div class="payRow">
            @if (isSuccess)
            {
                <div class="payTitle text-success">
                    <img src="~/img/payment/success.svg" loading="lazy" alt="success" />
                    <h1>تبریک!</h1>
                    پرداخت شما با موفقیت انجام شد
                </div>
            }
            else
            {
                <div class="payTitle text-danger">
                    <img src="~/img/payment/failed.svg" loading="lazy" alt="failed" />
                    <h1>متاسفیم!</h1>
                    پرداخت شما با مشکلی مواجه شده است
                </div>
            }
            <partial name="_PayInfo" />

            @if (isSuccess)
            {
                <div class="">
                    برای تماس با مشاور و شروع مشاوره روی دکمه تماس با مشاور کلیک کنید
                    <br />
                    در صورت برقرار نشدن تماس مشاور در اسرع وقت با شما تماس میگیرد
                </div>
            }
            else
            {
                <div class="">
                    برای تماس با مشاور و شروع مشاوره روی دکمه تماس با مشاور کلیک کنید
                    <br />
                    در صورت برقرار نشدن تماس مشاور در اسرع وقت با شما تماس میگیرد
                </div>
            }


            <a href="@Url.Action("StudentInvoice","Public", new { Id = Model.BasketId })" class="btn btn-primary">
                مشاهده فاکتور
            </a>
        </div>
    </div>
</div>


@section Scripts {
<partial name="Scripts/_PriceFormatter" />
}
