﻿@using DataAccessLayer.Enums
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "دفاتر پلمب";
    ViewBag.KeyWords = "";
    ViewBag.Description = "";
    ViewBag.Footer = false;

}


@section Style {
<link rel="stylesheet" href="~/css/polomp.css" />
}



<div class="body_scroll">
    <section class="main-card">
        <div class="row">

            <form class="col-12 col-sm-9" id="msform">
                <partial name="Polomp/_Step1" />
                <partial name="Polomp/_Step2" />
                <partial name="Polomp/_Step3" />
                <partial name="Polomp/_Step4" />
                <partial name="Polomp/_Step5" />
                <partial name="Polomp/_Step6" />
            </form>


            <!-- progressbar -->
            <div class="col-3 border-left d-none d-sm-block">
                <div class="progressbar">
                    <h2 id="stepIndicator">
                        1/6
                    </h2>
                    <div>
                        <i class="active"></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                    </div>
                </div>
                <ul id="progressList">
                    <li class="active"><span>1</span>مشخصات کاربر</li>
                    <li><span>2</span>مشخصات شرکت</li>
                    <li><span>3</span>پرداخت</li>

                    <li><span>4</span>تکمیل اطلاعات</li>

                    <li><span>5</span>آپلود مدارک</li>

                    <li><span>6</span>پایان عملیات</li>
                </ul>
            </div>

        </div>

        <div class="action-button">
            <button type="submit" id="next" class="btn btn-primary" form="msform">
                <i class="zmdi zmdi-long-arrow-right mr-1"></i>
                ادامه
            </button>
            <button type="button" id="previous" class="btn previous" disabled style="display: none;">
                بازگشت
                <i class="zmdi zmdi-long-arrow-left ml-1"></i>
            </button>
        </div>
    </section>

    <div class="mb-3">
        <div class="prices">
            جمع کل مبالغ انتخاب شده (ریال):
            <strong class="priceFormat red-price" id="totalPrice">354444</strong>
            <strong class="priceFormat final-price" id="finalPrice">2,000,000</strong>
        </div>
        <div class="discount-cont">

            <span data-toggle="collapse" data-target="#discount">
                آیا کد تخفیف دارید؟
                <i class="zmdi zmdi-chevron-down"> </i>
            </span>

            <div id="discount" class="collapse">
                <div class="discount">
                    <input id="UserName" name="UserName" placeholder="کد تخفیف خودرا وارد کنید">
                    <button type="button" class="btn">اعمال</button>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="custom-control custom-checkbox mt-3 mb-1">
                <input type="checkbox" class="custom-control-input" name="terms" id="terms" required checked>
                <label class="custom-control-label" for="terms">
                    <a href="/terms" class="text-blue">
                        قوانین
                    </a>
                    سامانه را مطالعه کرده و پذیرفتم
                </label>
            </div>
            <button type="button" id="payBtn" class="btn btn-primary btn-lg">پرداخت</button>
        </div>
    </div>

</div>



@section Scripts {
<script src="~/vendor/jquery-validation/jquery.validate.js"></script>
<script src="~/js/polomp.js"></script>
<partial name="Scripts/_PriceFormatter" />
<partial name="Scripts/_DateRangePicker" />

<script type="text/javascript">
    function OpenForgetModal() {
        let url = "/Home/ForgetShenaseModal";
        showInPopup(url, 'بازیابی شناسه ملی', {
            backdrop: 'static',
            keyboard: false
        })
    }

    moment.locale('fa')
    const dateRangePickerConfigs = {
        locale: {
            direction: 'ltr',
            format: 'YYYY/MM/DD',
            separator: ' - ',
            applyLabel: 'اعمال',
            cancelLabel: 'انصراف',
            fromLabel: 'از',
            toLabel: 'به',
            customRangeLabel: 'دلخواه',
            weekLabel: 'هفته',
            daysOfWeek: ["ش", "ی", "د", "س", "چ", "پ", "ج"],
            monthNames: moment.localeData()._jMonthsShort,
            firstDay: 7
        },
        linkedCalendars: false,
        singleDatePicker: true,
        showDropdowns: true,
        opens: "center",
    }

    // initialise datePicker
    $('#BirthDate').daterangepicker({
        ...dateRangePickerConfigs,
        startDate: '1360/01/01',
        maxDate: moment(),
    }).val("");
    $('#FinYear').daterangepicker({
        ...dateRangePickerConfigs,
        startDate:moment().startOf('year').format('YYYY/MM/DD'),
        minDate: moment().startOf('year'),
        maxDate: moment().endOf('year'),
    }).val("")

</script>

}
