﻿@using DataAccessLayer.Enums
@using ServicesLayer.Common.Formatter;
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "دفاتر پلمب";
    ViewBag.KeyWords = "";
    ViewBag.Description = "";
    ViewBag.Footer = false;

}


@section Style {
<link rel="stylesheet" href="~/css/polomp.css" />
}



<div class="body_scroll">
    <section class="main-card">
        <div class="row">

            <form class="col-12 col-sm-9" id="msform">


                <fieldset class="row factor-sec" id="factor-sec">
                    <div class="col-12">

                        @foreach (var i in Enumerable.Range(0, 4))
                        {
                            @if (i != 0)
                            {
                                <hr />
                            }

                            <div class="row font-12">
                                <div class="col-12 text-center">
                                    <h3 class="font-15 mb-2 mt-0" style="color:#00bfa5;">دفتر پلمپ 1400</h3>
                                </div>
                                <div class="col-3 d-flex flex-column flex-center">
                                    <img src="~/img/polomp/polomp-book.svg" width="65" height="60" alt="polomp" loading="lazy" />
                                    <div class="custom-control custom-checkbox" style="margin:5px 15px 0 0;">
                                        <input type="checkbox" class="custom-control-input" name="item-@i" id="item-@i">
                                        <label class="custom-control-label" for="item-@i">انتخاب</label>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            هزینه دفاتر:
                                            <strong class="priceFormat">@(140000*(i+1))</strong>
                                        </div>
                                        <div class="col-12">
                                            یک جلد دفتر:
                                            <select name="item-@i" id="item-@i" class="form-control form-control-sm">
                                                <option value="50" data-price="@(140000*(i+1))">50 برگ</option>
                                                <option value="50" data-price="@(280000*(i+1))">100 برگ</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        }
                    </div>

                </fieldset>
            </form>

        </div>


    </section>

    <div class="pay-bottom-tab">
        <button type="submit" class="btn btn-lg btn-primary" form="msform">
            <i class="zmdi zmdi-long-arrow-right mr-1"></i>
            پرداخت
        </button>
        <div class="price">
            جمع سبد خرید
            <span class="priceFormat" id="finalPrice">
                38451000
            </span>

        </div>
    </div>

    <div class="mb-3">
        <div class="discount-cont">
            <span data-toggle="collapse" data-target="#discount">
                آیا کد تخفیف دارید؟
                <i class="zmdi zmdi-chevron-down"> </i>
            </span>

            <div id="discount" class="collapse">
                <div class="discount">
                    <input id="UserName" name="UserName" placeholder="کد تخفیف خودرا وارد کنید">
                    <button type="button" class="btn">اعمال</button>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="custom-control custom-checkbox mt-3 mb-1">
                <input type="checkbox" class="custom-control-input" name="terms" id="terms" required checked>
                <label class="custom-control-label" for="terms">
                    <a href="/terms" class="text-blue">
                        قوانین
                    </a>
                    سامانه را مطالعه کرده و پذیرفتم
                </label>
            </div>
        </div>
    </div>

</div>



@section Scripts {
<script src="~/vendor/jquery-validation/jquery.validate.js"></script>
<script src="~/js/polomp.js"></script>
<partial name="Scripts/_PriceFormatter" />

}
