﻿@model Dentist.ViewModel.ChangePasswordViewModel

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="ChangePassword" asp-controller="Auth" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group rtl">
                <label asp-for="OldPassword" class="control-label text-right d-block">رمز عبور قدیم</label>
                <div class="input-group">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group rtl">
                <label asp-for="NewPassword" class="control-label text-right d-block">رمز عبور جدید</label>
                <div class="input-group">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group rtl">
                <label asp-for="ConfirmPassword" class="control-label text-right d-block">تکرار رمز عبور</label>
                <div class="input-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>


            <div class="form-group">
                <div class="">
                    <input type="submit" value="ثبت" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>
