﻿
@{
    Layout = "_AuthLayout.cshtml";
}


<div class="login-right-title mt-4">
    <h4>
        ورود با کد یک  بارمصرف
    </h4>
    <div>
        <a class="back" href="@Url.Action("index","Login")">بازگشت</a>

        <i class="fas fa-arrow-left"></i>
    </div>

</div>


<img src="~/OtpLogin/Newsite/images/loginimg.jpg" class="mb-4 hideonmob">
<form>


    <div class="form-group mt-4">


        <label for="smsCode" class="col-form-label"><p class="m-0" style="color: rgba(0, 0, 0, 0.8);">کد فرستاده شده را وارد کنید</p></label>
        <div class="verify-box">

            <input type="tel" class="form-control" id="OTPCode" name="OTPCode" placeholder="کدارسالی" />

            <div class="clickable">
                <input class="send-again" id="sendcodeagain" value="ارسال مجدد" name="ButtonType" />
            </div>

            <div class="timer-show"><span id="timer"></span></div>
        </div>
    </div>

    <div id="ErrorCode" class="error mt-2 mb-4">
        @ViewBag.ResultOTP
    </div>


    <div style="text-align: right; width: 100%; padding: 2rem;padding-top:0rem;">
        <a id="btnsignin" class="login-button mt-4 fixbuttonsignin bg-orange clickable">
            ورود
        </a>
    </div>

</form>


@section scripts{
    <script>
        timing()
        // timer in recieve sms code
        function timing() {
            document.getElementById('timer').innerHTML =
                001 + ":" + 30;
            startTimer();
        }

        function startTimer() {
            var presentTime = document.getElementById('timer').innerHTML;
            var timeArray = presentTime.split(/[:]+/);
            var m = timeArray[0];
            var s = checkSecond((timeArray[1] - 1));
            if (s == 59) { m = m - 1 }
            //if(m<0){alert('timer completed')}

            document.getElementById('timer').innerHTML =
                m + ":" + s;
            console.log(m)
            var timer = setTimeout(startTimer, 1000);
            if (s == 00 && m == 00) {
                clearTimeout(timer)
                console.log('timeout')
                $('.timer-show').css('display', 'none')

                $('.send-again').css('display', 'block')
            }
        }

        function checkSecond(sec) {
            if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
            if (sec < 0) { sec = "59" };
            return sec;
        }



        $("#sendcodeagain").click(function () {



      $.ajax({
      type: 'POST',
      url: '@Url.Action("SendAgainCode", "Login")',
      dataType: 'json',
      async: true,
      cache: true,
      data: {
          Send: true
      },
          success: function (data) {

              $('#ErrorCode').text(data.errorMessage);
              timing();
              $('.timer-show').css('display', 'block')

              $('.send-again').css('display', 'none')
       },
        error: function (ex) {
          ShowError('خطا در پردازش لطفا مجدد سعی بفرمایید');
       }

  });
  return false;
        });



        $("#btnsignin").click(function () {



      $.ajax({
      type: 'POST',
      url: '@Url.Action("SigninByCode", "Login")',
      dataType: 'json',
      async: true,
      cache: true,
          data: {
              OTPCode: $('#OTPCode').val()
      },
          success: function (data) {
            if (data.result) {
              if (data.status == 1) {
                  window.location.href = data.url;
              }
              else if (data.status == 2) {
                  window.location.href = '@Url.Action("index","Home")';
              }
              else {
                  ShowError(data.errorMessage);
              }
          }
          else {
              ShowError(data.errorMessage);
          }
       },
        error: function (ex) {
          ShowError('خطا در پردازش لطفا مجدد سعی بفرمایید');
       }

  });
  return false;
        });

        $(document.body).keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                $("#btnsignin").click();
                return false;
            }
        });
    </script>

}

