﻿
@model Dentist.ViewModel.RequestLoginViewModel
@{
    Layout = "_AuthLayout";
    ViewBag.Header = "ورود";
}

@section Style {
    <style type="text/css">
        .auth-cont {
            background-color: #fff;
            width: 100%;
            max-width: 550px;
            font-size: 16px;
        }

        .auth-form-header {
            text-align: center;
        }

            .auth-form-header .logo {
                height: 182px
            }


        .auth-input {
            transition: 0.2s ease-in-out;
            position: relative;
            display: flex;
            align-items: center;
            background: #EDEDED;
            border-radius: 10px;
            padding-right: 10px;
            height: 45px;
            margin-bottom: 25px;
        }

            .auth-input:hover, .auth-input:focus-within {
                color: #495057;
                background-color: #fff;
                border-color: #80bdff;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
            }

                .auth-input:hover i, .auth-input:focus-within i {
                    color: #80bdff;
                }

            .auth-input input {
                height: 100%;
                width: 100%;
                border: none;
                background-color: transparent;
                padding: 0 5px;
                border-radius: 10px 0 0 10px;
            }

            .auth-input i {
                transition: 0.2s ease-in-out;
                font-size: 30px;
                margin-left: 15px;
                color: #C5C5C5;
            }

        .auth-submit {
            color: #fff;
            font-size: 25px;
            height: 55px;
            width: 100%;
            background-color: #E13A3F;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            border: none;
            margin-top: 40px;
        }

        .theme-blush .checkbox input[type="checkbox"]:checked + label::after {
            background-color: #E13A3F;
            font-size: 20px;
            line-height: 23px;
        }

        @@media only screen and (max-width: 1366px) {
            .auth-cont {
                max-width: 450px;
            }

            .auth-form-header .logo {
                height: 150px
            }

            .auth-input {
                padding-right: 5px;
                height: 40px;
            }

            .auth-submit {
                font-size: 20px;
                height: 45px;
                margin-top: 20px;
            }
        }

        @@media only screen and (max-width: 600px) {


            .auth-cont {
                border-radius: 10px;
                padding: 30px 20px;
                margin: 0 15px;
                width: -webkit-fill-available;
                font-size: 14px;
                box-shadow: 2px 0px 9px rgba(0, 0, 0, 0.23);
            }

            .auth-form-header .logo {
                height: 120px
            }
        }
    </style>
}

<form class="auth-cont" id="form_validation">

    @Html.HiddenFor(m => m.ReturnUrl)
    @Html.AntiForgeryToken()


    <div class="auth-form-header">
        <img class="logo" src="~/img/logo.png" alt="logo">
        <h2 class="my-4">به سامانه ثبت نام تهران خوش آمدید</h2>
    </div>


    <div class="auth-input">
        <i class="zmdi zmdi-account-circle"></i>
        <input type="number" id="UserName" name="UserName" placeholder="نام کاربری">
    </div>
    <div class="auth-input">
        <i class="zmdi zmdi-lock"></i>
        <input type="password" id="Password" name="Password" placeholder="رمز عبور">
    </div>
    <div class="checkbox">
        <input id="remember_me" type="checkbox" checked>
        <label for="remember_me">مرا به خاطر بسپار</label>
    </div>
    <button class="auth-submit waves-effect waves-light" type="submit">
        ورود
    </button>

</form>



@section Scripts {
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>

    <script type="text/javascript">

        // form validation
        $("#form_validation").validate({
            rules: {
                Password: {
                    required: true,
                    minlength: 8
                },
                UserName: {
                    required: true,
                    digits: true,
                    mobileNumber: true,
                },
            },
            submitHandler: function (f, e) {
                e.preventDefault();

                let el = '#form_validation'
                setLoading(el, true);

                let model = {};

                $("#form_validation")
                    .serializeArray()
                    .forEach((i = {}) => (model[i.name] = i.value || null));


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Index", "Auth")',
                    data: model,
                    success: function (res) {
                        if (res.isValid == true) {
                            Toast.fire({
                                icon: "success",
                                title: 'با موفقیت وارد شدید.'
                            });
                            window.location = res.redirectUrl;
                        } else errMsg(res.html);
                    },
                    error: (res) => errMsg(res.html),
                    complete: () => setLoading(el, false),
                });
            },
        });
    </script>
}