﻿@{
    Layout = "_AuthLayout.cshtml";
}



<img src="~/Content/images/add-group.svg" />
<div class="login-right-title mt-4">
    <h4>
        ورود به پنل مدیریت
    </h4>
    <div>
        <a class="back" href="@Url.Action(" signin","auth")">بازگشت</a>

        <i class="fas fa-arrow-left"></i>
    </div>

</div>

<form>
    <div class="form-group mt-2">
        <label for="PhoneNumber" class="form-control-label required">
            شماره همراه
        </label>

        <input type="text" value="@ViewBag.PhoneNumber" class="login-right-input form-control " readonly>   <p class="errorcls"></p>

    </div>
    <div class="form-group mt-2">
        <label for="Password" class="form-control-label ">
            رمز عبور
        </label>

        <input type="password" class="login-right-input form-control" id="Password" name="Password">   <p class="errorcls"></p>



    </div>

    <div id="Error" class="error">

    </div>

    <div style="text-align: right; width: 100%; padding-top:0rem;">
        <a id="btnsignin" class="login-button mt-4 fixbuttonsignin bg-orange clickable">
            ورود
        </a>
        <a id="btnsignin" href="@Url.Action(" code","auth")" class="login-button mt-4 fixbuttonsignin clickable">
            ارسال کد طریق پیامک
        </a>
    </div>


</form>



@section scripts{
    <script>
    $("#btnsignin").click(function () {



        $.ajax({
            type: 'POST',
            url: '@Url.Action("PasswordMethod", "Login")',
            dataType: 'json',
            async: true,
            cache: true,
            data: {
                Password: $('#Password').val()
            },
            success: function (data) {
                if (data.result) {
                    if (data.Status == 1) {
                        window.location.href = data.url;
                    }
                    else if (data.Status == 2) {
                        window.location.href = '@Url.Action("index","Home")';
                    }
                    else {
                        ShowError(data.errorMessage);
                    }
                }
                else {
                    ShowError(data.errorMessage);
                }

            },
            error: function (ex) {
                ShowError('خطا در پردازش لطفا مجدد سعی بفرمایید');
            }

        });
        return false;
    });
    </script>
}

