﻿<script type="text/javascript" src="~/vendor/daterangepicker/jalali-moment.browser.js"></script>
<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="~/vendor/daterangepicker/daterangepicker.js"></script>