﻿<script type="text/javascript">
    const defualtDataTableConfig = {
        dom: '<B<"info"fl>>t<"bottom"rip>',
        buttons: ['excel', "print", "copy"],
        "language": {
            "url": '@Url.Content("~/vendor/datatables/lang/fa-1.11.4.min.json")'
        },
        columnDefs: [
            { targets: "dt-nOrder", "orderable": false },
        ],
    };
</script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.4/b-2.2.2/b-html5-2.2.2/b-print-2.2.2/r-2.2.9/datatables.min.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.4/b-2.2.2/b-html5-2.2.2/b-print-2.2.2/r-2.2.9/datatables.min.js"></script>