﻿<script type="text/javascript">
    const defaultDropZoneConfigs = {
        dictDefaultMessage: 'برای اپلود کلیک کنید.',
        dictCancelUpload: "لغو",
        dictRemoveFile: "حذف",
        dictFileTooBig: "حجم فایل خیلی زیاد است ({{filesize}}MB)، حداکثر: {{maxFilesize}}MB",
        acceptedFiles: "image/*",
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 2, // MB
        autoProcessQueue: false,
        uploadMultiple: false,
        addRemoveLinks: true,
        init: function () {
            this.on("maxfilesexceeded", function (file) {
                this.removeFile(file);
                Toast.fire({
                    icon: "warning",
                    title: "امکان انتخاب فایل بیشتری ندارید!"
                })
            });
        },
    }
</script>

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />