﻿<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script type="text/javascript">
    const defaultFlickityConfig = {
        cellAlign: 'right',
        contain: true,
        wrapAround: false,
        rightToLeft: true,
        prevNextButtons: true,
        pageDots: true,
        freeScroll: true,
        groupCells: true,
    }
</script>

