﻿<script type="text/javascript" src="~/vendor/jquery.priceformat.min.js"></script>
<script type="text/javascript">
    $('.priceFormat').priceFormat({
        prefix: '',
        thousandsSeparator: ',',
        centsLimit: 0,
        leadingZero: false
    });
</script>